/*  your css code here. If applicable */
marquee{
	text-align:center;
}
*{
	padding:0px;
	margin:0px;
}

.main{
	color:purple;
	border-bottom:purple;
}



p{
	text-decoration:underline;
	padding-top:20px;
	color:blue;
}